.wrapper
  .sidebar
    .sidebar__header
      .sidebar__header__name
        = current_user.name
      %ul.icons{name: "icons"}
        = link_to new_group_path, class: "icons__link" do
          %li.icon{name: "edit-btn"}
            = fa_icon "edit"
        = link_to edit_user_path(current_user), class: "icons__link" do
          %li.icon{name: "setting-btn"}
            = fa_icon "cog"
    .groups
      = render partial: "messages/group"
  .main
    .main__header
      .group-info
        .group-info__group-name
          = @group.name
        %ul.group-info__member-list{name: "chat-member"}
          %li
            Member :
          - @group.users.each do |user|
            %li.group-info__member-list__member
              = user.name
      = link_to edit_group_path(@group), class: "edit-link" do
        .edit-link__edit-btn
          Edit
    .chat-space
      .chat-space__window
        %ul.messages
          = render @messages
      = form_for [@group, @message], html: {class: "chat-form"} do |f|
        .chat-form__input
          = f.text_field :body, class:"chat-form__input__text", placeholder: "input a message"
          = f.label :image, class:"chat-form__input__image" do
            = fa_icon "picture-o"
            = f.file_field :image, class: "chat-form__input__image__btn"
        .chat-form__send
          = f.submit "Send", class: "chat-form__send__submit-btn", "data-disable-with": "Send"